body {
  background: #c1fff7;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #c1fff7 0%, #f9ffad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1fff7', endColorstr='#f9ffad',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  border-radius: 10px;
  background: #ecb390;
  width: clamp(300px, 50%, 600px);
  margin: 0 auto;
  padding: 30px;
}

.done {
  text-decoration: line-through rgba(34, 92, 65, 0.55) 12px;
}
